@charset "UTF-8";
main form FIELDset .botonesgeneral .botones, main form FIELDset .botonesgeneral .botones2 {
  border: 0.2rem solid black;
  padding: 0.5rem;
  margin: 0.5rem; }

/*Propiedades de la página index.html*/
body {
  background-color: whitesmoke; }
  body header .tituloprincipal {
    color: #310731;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 4rem; }
    body header .tituloprincipal .container-fluid {
      text-align: center; }
  body header a:link {
    color: black;
    text-decoration: none;
    font-weight: bold; }
  body header a:visited {
    color: black;
    margin: 0.5rem;
    padding: 0.5rem; }
  body main {
    background-color: #dac4ab; }
    body main .floresfondo {
      display: none; }
    body main .titulo-main {
      font-size: 2.5rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding: 1.5rem;
      margin-top: 2rem;
      text-align: center;
      font-style: normal;
      grid-area: titulo-main; }
    body main .parrafos-main {
      display: flex;
      flex-direction: column;
      color: #1c362e;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.7rem;
      margin: 2 rem; }
      body main .parrafos-main .parrafo-uno-main {
        margin: 2rem;
        font-size: 1.7rem; }
      body main .parrafos-main .parrafo-dos-main {
        margin: 2rem;
        font-size: 1.7rem; }
    body main .img-index {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 1rem; }
      body main .img-index .main-img1 {
        width: 70%;
        align-items: center;
        margin: 1rem; }
      body main .img-index .main-img2 {
        width: 70%;
        align-items: center;
        margin: 1rem; }
      body main .img-index .main-img3 {
        width: 70%;
        align-items: center;
        margin: 1rem; }
      body main .img-index .main-img4 {
        width: 70%;
        align-items: center;
        margin: 1rem; }
  body .footer {
    color: aliceblue;
    background-color: #8a5353;
    padding: 1rem;
    text-align: right;
    font-weight: bold; }

/*Propiedades de la página Conoceme*/
main .titulo-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #1b0606;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 1rem;
  padding: 1rem; }

main .main-parrafo3 {
  color: #1c362e;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1.5rem;
  text-align: center; }

/*Propiedades de la página contactos */
main form FIELDset legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #1b0606;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem; }

main form FIELDset div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #111425;
  font-family: Verdana, Geneva, Tahoma,sans-serif;
  font-size: 1.2rem;
  width: bold;
  margin: 1rem;
  padding: 1rem; }
  main form FIELDset div label {
    margin: 0.2rem;
    font-weight: bold; }
  main form FIELDset div input {
    margin: 0.2rem; }

main form FIELDset .botonesgeneral {
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center; }

main .contactos {
  text-align: center; }
  main .contactos .contactotelefono {
    text-align: center; }
    main .contactos .contactotelefono .telefono {
      list-style-type: none;
      font-size: 1.2rem;
      font-weight: bold; }
  main .contactos .main-instagram {
    text-align: center; }
    main .contactos .main-instagram .instagram {
      text-align: center;
      list-style-type: none;
      text-decoration: none; }
      main .contactos .main-instagram .instagram .entra {
        list-style-type: none;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        color: #2b2626; }
  main .contactos .contactomail {
    text-align: center; }
    main .contactos .contactomail .mail {
      list-style-type: none;
      font-size: 1rem;
      font-weight: bold; }

main .flores {
  display: none; }

/*Propiedades de página Comunidad Ecofriendly*/
main .titulo-main-eco {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #1b0606;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 2rem;
  text-shadow: 1px 1px black; }

main .video-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0.5rem; }

/* Propiedades de la página Productos*/
.img{
  width: 1rem;
  height: 0.5rem;
  object-fit: contain;
  margin-top: 2rem;
}

.divCard {
  display: flex;
  margin: 0.5rem;
}


.btnComprar {
  margin: 0.5rem;
  padding: 1rem;
  
}

.colorBoton{
  color: white;
  background-color: #310731;
}

.colorBoton:hover{
  background-color: blueviolet;
}


/* Media Queris - Mobile First */
/* Media Queris min-width:768px and max-widht:1200px*/
@media (min-width: 768px) and (max-width: 1200px) {
  body .main {
    font-size: 1.7rem;
    margin: 1.5rem;
    /*media queris pagina conoceme*/
    /*media queris pagina contacto*/ }
    body .main .floresfondo {
      display: block;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-align: center; }
    body .main .parrafos-main {
      display: grid;
      grid-template-areas: "parrafo-uno-main parrafo-dos-main"; }
      body .main .parrafos-main .parrafo-uno-main {
        padding-right: 2rem;
        font-size: 1.7rem; }
      body .main .parrafos-main .parrafo-dos-main {
        padding-left: 2rem;
        font-size: 1.7rem; }
      body .main .parrafos-main .titulo-main {
        grid-area: titulo-main; }
      body .main .parrafos-main .parrafo-uno-main {
        grid-area: parrafo-uno-main; }
      body .main .parrafos-main .parrafo-dos-main {
        grid-area: parrafo-dos-main; }
    body .main .img-index {
      display: grid;
      grid-template-areas: "main-img1 main-img2"
 "main-img3 main-img4";
      margin: 1rem;
      justify-content: center;
      align-items: center; }
      body .main .img-index .main-img1 {
        width: 65%;
        align-items: center;
        grid-area: main-img1;
        margin: 1rem; }
      body .main .img-index .main-img2 {
        width: 65%;
        align-items: center;
        grid-area: main-img2;
        margin: 1rem; }
      body .main .img-index .main-img3 {
        width: 60%;
        align-items: center;
        grid-area: main-img3;
        margin: 1rem; }
      body .main .img-index .main-img4 {
        width: 85%;
        align-items: center;
        grid-area: main-img4;
        margin: 1rem; }
    body .main .contactos {
      display: flex;
      justify-content: space-around; }
    body .main .botonesgeneral {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center; }
    body .main div label {
      margin: 1rem;
      font-weight: bold; } }

/* Media Queris - Pantalla min-width:1024px */
@media screen and (min-width: 1200px) {
  .main {
    /*Media queris página conoceme y comunidad*/
    /*Media queris página contacto*/ }
    .main .floresfondo {
      display: block;
      text-align: center; }
    .main .parrafos-main {
      display: grid;
      grid-template-areas: "parrafo-uno-main parrafo-dos-main"; }
      .main .parrafos-main .parrafo-uno-main {
        padding-right: 2rem; }
      .main .parrafos-main .parrafo-dos-main {
        padding-left: 2rem; }
      .main .parrafos-main .titulo-main {
        grid-area: titulo-main; }
      .main .parrafos-main .parrafo-uno-main {
        grid-area: parrafo-uno-main; }
      .main .parrafos-main .parrafo-dos-main {
        grid-area: parrafo-dos-main; }
    .main .img-index {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-left: 1rem;
      padding-right: 1rem; }
      .main .img-index .main-img1 {
        width: 22%;
        margin-left: 1rem; }
      .main .img-index .main-img2 {
        width: 22%; }
      .main .img-index .main-img3 {
        width: 15%; }
      .main .img-index .main-img4 {
        width: 23%;
        margin-right: 1rem;
        padding-right: 1rem; }
    .main .contactos {
      display: flex;
      justify-content: space-around; }
      .main .contactos ul li:hover {
        background-color: #cece9b;
        transform: scale(1.5, 1.5); }
      .main .contactos .contactotelefono:hover {
        transform: scale(1.1, 1.1); }
      .main .contactos .main-instagram:hover {
        transform: scale(1.1, 1.1); }
      .main .contactos .contactomail:hover {
        transform: scale(1.1, 1.1); }
    .main .botonesgeneral {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center; }
    .main .flores {
      display: block;
      text-align: center; }
    .main div label {
      margin: 1rem;
      font-weight: bold; } }

/*Reset*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }
