//import variables 
@import "base/variables";
//import carpeta base 
@import "base/mixin";
@import "base/maps";
@import "base/extend";
//import páginas - carpeta utilities 
@import "utilities/index";
@import "utilities/conoceme";
@import "utilities/contactos";
@import "utilities/comunidad";
@import "utilities/productos";
@import "utilities/mediaqueris";


/*Reset*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
 

