/*Propiedades de página Comunidad Ecofriendly*/
main{
    .titulo-main-eco{
        @include flex;
        color: $colortitulospricipales;
        font-size: 2rem;
        margin: 1rem;
        text-align: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 2rem;
        text-shadow: 1px 1px black;
    }
    .video-main{
        @include flex;
        margin-bottom: 2rem;
        padding: 0.5rem;
    }    
}
