/*Propiedades de la página contactos */
main{
   form{
      FIELDset{
         legend {
            @include flex;
            color: $colortitulospricipales;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 3rem;            
         }
 
         div {
            @include flex;
            color:#111425;
            font-family: Verdana, Geneva, Tahoma,sans-serif;
            font-size: 1.2rem;
            width:bold;
            margin: 1rem;
            padding: 1rem;
            label{
               margin: 0.2rem;
               font-weight: bold
            }
            input{
               margin: 0.2rem;
            }
         }

         .botonesgeneral{
            display: flex;
            display: block;
            justify-content: center;
            align-items: center;
            align-content: center;
         
            .botones{
              @extend %botones;
            }
          
           .botones2{
              @extend %botones;
            }
         }
         }
         
         
   }

   .contactos{
      text-align: center;
      .contactotelefono{
         text-align: center;
         .telefono{
          list-style-type: none;
          font-size: 1.2rem;
          font-weight: bold;
         }
      }
      .main-instagram{
         text-align: center;
         margin: 3rem;
         .instagram{
            text-align: center;
         }
      }
      .contactomail{
         text-align: center;
         .mail{
          list-style-type: none;
          font-size: 1rem;
          font-weight: bold;
         }
      }
   }

   
    
   .flores{
     display: none;
   }    
} 

