/*Propiedades de la página Conoceme*/
main{
    .titulo-me {
        @include flex;
        color: $colortitulospricipales;
        font-size: map-get($map: $titulo-standar, $key: font-size-standar );
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: map-get($map: $titulo-standar, $key:margin-standar );
        padding: map-get($map: $titulo-standar, $key: padding-standar );
    }
    .main-parrafo3{
        color: $colorparrafos;
        font-size: 1.2rem;
        font-family:$fuenteparrafos;
        margin:1.5rem;
        text-align: center;
    }     
}

 

