/* Media Queris - Mobile First */

/* Media Queris min-width:768px and max-widht:1200px*/
@media (min-width:768px) and (max-width:1200px) {
 
    body{
        .main{
            font-size: 1.7rem;
            margin:1.5rem;
            .floresfondo {
              display: block;
              @include flex;
              text-align: center;
            }
            .parrafos-main{
                display: grid;
                grid-template-areas: "parrafo-uno-main parrafo-dos-main";
                .parrafo-uno-main{
                    padding-right: 2rem;
                    font-size: 1.7rem;
                }
                .parrafo-dos-main{
                    padding-left: 2rem;
                    font-size: 1.7rem;
                }
                .titulo-main{
                    grid-area: titulo-main ;
                }
                .parrafo-uno-main {
                    grid-area: parrafo-uno-main ;
                }
        
                .parrafo-dos-main {
                    grid-area: parrafo-dos-main ;
                }
            }
        
            .img-index{
                display: grid;
                grid-template-areas:"main-img1 main-img2"
                                    "main-img3 main-img4";
                margin:1rem;  
                justify-content: center;  
                align-items: center;
    
                .main-img1{
                    width: 65%;
                    align-items: center;
                    grid-area: main-img1;
                    margin: 1rem;
                }
               
                .main-img2{
                    width: 65%;
                    align-items: center;
                    grid-area: main-img2;
                    margin: 1rem;
                }
               
                .main-img3{
                    width: 60%;
                    align-items: center;
                    grid-area: main-img3;
                    margin: 1rem;
                }
               
                .main-img4{
                    width: 85%;
                    align-items: center;
                    grid-area: main-img4;
                    margin: 1rem;
                }
        
            }         
            /*media queris pagina conoceme*/
            .contactos{
               @include flexspacearound;
            }
        
            /*media queris pagina contacto*/
            .flores{
              display: block;
              text-align: center;
              margin: 1rem;
              width: 10%;
            }    
        }
    }      
   
}
 
/* Media Queris - Pantalla min-width:1024px */
 
@media screen and (min-width:1200px){
    .main{
        .floresfondo{
            display: block;
            text-align: center;   
            }
        
        .parrafos-main{
            display: grid;
            grid-template-areas: "parrafo-uno-main parrafo-dos-main";
            .parrafo-uno-main{
                padding-right: 2rem;
            }
            .parrafo-dos-main{
                padding-left: 2rem;
            }
            .titulo-main{
                grid-area: titulo-main ;
            }
            .parrafo-uno-main {
                grid-area: parrafo-uno-main ;
            }
        
            .parrafo-dos-main {
                grid-area: parrafo-dos-main ;
            }
        }    
       
        .img-index{
            @include flex;
            margin-left: 1rem;
            margin-right: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            
            .main-img1{
                width:22%;
                margin-left: 1rem;
            }
             
            .main-img2{
                width: 22%;
            }
             
            .main-img3{
                width: 15%;
            }
             
            .main-img4 {
                width: 23%;
                margin-right: 1rem;
                padding-right: 1rem;
            }

        }
        
        /*Media queris página conoceme y comunidad*/
        .contactos{
           @include flexspacearound;
           ul li:hover{
             background-color: rgb(206, 206, 155);
             transform: scale(1.5,1.5);      
            }
        
           .contactotelefono:hover{
              transform: scale(1.1,1.1);
            }
         
           .main-instagram:hover{
              transform: scale(1.1,1.1);
            }
         
           .contactomail:hover{
              transform: scale(1.1,1.1);
            }
        }
 
        /*Media queris página contacto*/
        .flores{
         display: block;
         text-align: center;
        }  
    }   
}
