//mapas
//estilos de footer maps en pagina style
$footer-standar:(
  color-standar: aliceblue,
  padding-standar: 1rem,
  text-align-standar: right,
  font-weight-standar: bold,
); 

//estilos de titulos, utilizado en el titulo de _conoceme 
$titulo-standar: (
  padding-standar: 1rem,
  margin-standar:1rem,
  font-size-standar: 2rem,
);

