//variables colore background
$color-principal:whitesmoke;
$color-secundario:rgb(218, 196, 171);
$color-footer: rgb(138, 83, 83);

//variables colores titulos y párrafos 
$colortitulospricipales: rgb(27, 6, 6);
$colorparrafos: rgb(28, 54, 46);

//variables tipo de letra 

$fuenteparrafos: Verdana, Geneva, Tahoma, sans-serif;

